*.pyc

# Ignore node modules (JS packages)
node_modules/

# Ignore Emacs backup files (e.g., filename~)
*~

# Ignore Emacs autosave files (e.g., #filename#)
# Optional, but often useful
#*#

# Ignore log files 
*.log

# Ignore test data
*.dat

% ignore run-time files
server/images/*
server/templates/*
web/thumbnails/*
web/tiles/*

# Ignore Puppeteer browser cache (optional, large)
.puppeteer/

# Ignore VSCode config (if used)
.vscode/

# Ignore virtual environments
uwsgi-env/

# Ignore private files
hidden_JSB

